@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #8b5cf6 !important;
  --toastify-color-success: #22c55e !important;
  --toastify-color-warning: #eab308 !important;
  --toastify-color-error: #ef4444 !important;
}
